# Namecheap FTP Credentials
# IMPORTANT: Never commit or upload this file! Rename it to just '.env' when you are done filling it out.

FTP_SERVER=ftp.yourdomain.com
FTP_USER=your_username
FTP_PASS=your_password
FTP_REMOTE_DIR=public_html
